* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: 100%;
    display: block;
}

.bg-main-color {
    background: linear-gradient(135deg, #00296f, #00a2c5);
    color: white;
}

.btn-main-color {
    background: linear-gradient(135deg, #00296f, #00a2c5);
    color: white;
    transition: all ease-in-out .1s;
}
.btn-main-color:hover {
    background: linear-gradient(135deg, #003a94, #11b9dd);
}

header input {
    background-color: #F9FAFB;
    border: solid #7575752a 1px;
    outline: none !important;
}
header input:focus {
    border: solid #00a2c5 2px !important;
}

header label {
    position: absolute;
    margin-top: 8px;
    transform: translateX(-380px);
}

header i {
    color: #757575;
}

.jobs-listing {
    /* background-color: #F9FAFB; */
}

.filter-btn {
    border: solid #7575752a 1px;
    transition: all ease-in-out .1s;
}
.filter-btn:hover {
    background-color: #F9FAFB !important;
}

.dropdown button {
    background-color: #F9FAFB; 
    width: 95%;
    border: solid #7575752a 1px;
}
.dropdown button:hover {
    border: solid #7575752a 1px;
}

.dropdown ul {
    width: 95%;
}

.job-card {
    transition: all ease-in-out .1s;
}

.job-card:hover {
    border: solid #00a2c5 1px !important;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

.job-card button {
    background-color: #00296f;
    transition: all ease-in-out .1s;
    color: #fff;
}

.job-card .save-btn {
    color: #00296f;
}
.job-card button:hover {
    background-color: #003a94;
}

.job-card-skill {
    background-color: #00a2c5;
    color: white;
    width: 7rem;
    height: 1.7rem;
}

.save-btn, .close-btn {
    background-color: white !important;
    border: none;
    transition: all ease-in-out .1s;
}
.save-btn:hover, .close-btn:hover {
    background-color: #F9FAFB !important;
}

.save-btn i {
    transition: all ease-in-out .1s;
}
.save-btn i:hover {
    color: #00296f !important;
}

.save-btn i.active {
    color: #00296f !important;
}